body {
    background-color: gainsboro;
    background-size: 100% 120%;
}
h1 {box-sizing: border-box;
    position: relative;
    margin: 2% 36.5%;
    background-color: white;
    border: 1px solid black;
    width: 500px;
    text-align: center;
    font-family: Georgia;
    text-shadow: 2px 2px 8px black;
    
}
#container{
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    height: 700px;
    width: 700px;
    box-shadow: 5px 8px #888888;
    border: 1px solid gray;
}
.pixel{
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    padding: 0 auto;
    background-color: white;
}

.buttons {
    margin: 3% auto;
    text-align: center;
}

.btn {
    margin: 0 5%;
    height: 30px;
    background-color: black;
    color:white;
    font-family: sans-serif;
    width: auto;
    border-color: black;
    transition: 0.3s;
    font-weight: bold;
}
.btn:hover {
    box-shadow: 3px 3px gray;
    transform: translate3d(-3px,-5px,0);
}